#cloud-config
ssh_pwauth: true
disable_root: false
password: HashiPass123!
chpasswd:
  expire: false

write_files:
  - path: /tmp/mongod.conf
    defer: true
    content: |
      ${indent(6, mongod-config)}

write_files:
  - path: /tmp/replicaset-cfg.js
    defer: true
    content: |
      ${indent(6, replicaset-config)}

runcmd:
  - update-ca-trust
  - systemctl daemon-reload
  - systemctl enable --now mongod.service
  - systemctl enable --now httpd.service
